.profile img{
    height:60px;
    width:60px;
    border-radius:50%;
  
   

}
.profile{
     background:linear-gradient( red,green ,blue ,pink,violet);
     border-radius:50%;
     width:55px;
     
}

.img{
    height:5px;
    width:5px;
    object-fit: cover;
    border-radius:50%;
  
}
.imagegallery img{
  
    height:100px;
    width:100px;
    border-radius:10px;

}
.imagegallery{
     display:inline;
     background:linear-gradient( red,green ,blue ,pink,violet);
     border-radius:10px;
     width:100px;
   

}